<article class="subject message is-dark m-3">
  <div class="title message-header">
    <a href="/subject/{{id}}" target="_blank" class="content is-large mb-0">{{subject.name}}</a>
  </div>
  <div class="message-body">
    {{questions}}
  </div>
</article>