<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />

    <title>QUIZZAM</title>

</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://quizam.herokuapp.com/">
            <span>Quiz</span>
            <img src="../../public/images/logo1.png" width="28" height="28">
            <span>am</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>

            <a href="/dashboard" class="navbar-item">
                Dashboard
            </a>

            <a href="/documentation" class="navbar-item">
                Documentation
            </a>

            <a href="/about-us" class="navbar-item">
                About Us
            </a>


        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">

                {{#if loggedIn}}
                <a id="logout" class="button is-light">
                    Log Out
                </a>
                {{else}}

                <a href="/login" class="button is-light">
                    Log In or Create Account
                </a>
                {{/if}}
            </div>
        </div>
    </div>
    </div>

</nav>

<body>

    {{{ body }}}

</body>

<footer class="footer">
    <div class="content has-text-centered">
        <h4 style="text-align: center;">
            Powered by: Quizzam Inc. &copy; 2021
        </h4>
    </div>
</footer>


{{#if loggedIn}}
<script src="/public/javascript/logout.js"></script>
{{else}}
<script src="/public/javascript/login.js"></script>
<script src="/public/javascript/signup.js"></script>
{{/if}}


<script src="/public/javascript/menu-burger.js"></script>

</html>