<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/style.css" />


    <title>QUIZZAM</title>


</head>

<body>
    <header>
        <h1>Quiz<img class="logo" src="../images/logo1.png" />am</h1>
    </header>

    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="left hide-on-med-and-down brand-logo center">
                <li><a href="dashboard.html">HOME</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">DOCUMENTATION</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><a href="">LOG IN</a></li>
            </ul>
        </div>
    </nav>

    <main>

        {{{ body }}}

    </main>

    <footer>
        <h4 style="text-align: center;">
            Powered by: Quizzam Inc. &copy; 2021
        </h4>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>