
<main>
    {{!-- insert columns with images (justice league image - replace with photos) --}}
    {{!-- JL IMAGE 1 - from left to right photos of Gaye, Baiyang, Emily, Shane --}}
    {{!-- JL IMAGE 3 - Shane, Emily, Baiyan, Gaye --}}
    {{!-- insert bio at the bottom of each photo as either separate columns or attached to photo columns:
    
    (left Column JL1 OR right JL3):
    Gaye Proctor
    -

    (middle column -left JL1 or middle colum JL3)
    Baiyang Qi
    -

    (middle column - right JL1 OR middle left JL3)
    
    -
    
    --}}

{{!-- Card #1 - Shane --}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../public/images/shane.png" alt="Shane Crisostomo image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="../public/images/shane.png" alt="Shane Crisostomo image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Shane Crisostomo</p>
        <p class="subtitle is-6">'Front End Wizard'</p>
      </div>
    </div>
    <div class="content">
      <ul>
        <li>
          Front End Design
        </li>
        <li>Bulma 
        </li>
        <li>Materialize
        </li>
        <li>Handlebars
        </li>
        <li>UX</li>
      </ul> 
      <a href="https://github.com/shaner3423">shaner3423</a>
      <br>
    </div>
  </div>
</div>
{{!-- End of Card #1 --}}


{{!-- Card #2 - Emily #2 --}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../public/images/emily.jpeg" alt=" image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="../public/images/emily.jpeg" alt="Emily Necciai Mayeski image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Emily Necciai Mayeski</p>
        <p class="subtitle is-6">'Amazing Project Leader'</p>
      </div>
    </div>
    <div class="content">
      <ul>
        <li>Project Leader 
        </li>
        <li>Routes 
        </li>
        <li>Models 
        </li>
        <li>Handlebars
        </li>
        <li>Heroku</li>
        <li>Documentation</li>
      </ul> 
      <a href="https://github.com/EmilyNecciai">EmilyNecciai</a>
      <br>
    </div>
  </div>
</div>
{{!-- End of Card #2 --}}



{{!-- Card #3 - Baiyang--}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../public/images/baiyang.png" alt="Baiyang Qi image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="../public/images/baiyang.png" alt="Baiyang Qi image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Baiyang Qi</p>
        <p class="subtitle is-6">'Master DeBugger'</p>
      </div>
    </div>
    <div class="content">
      <ul>
        <li>
          Database Schema 
        </li>
        <li>Debugger
        </li>
        <li>Sql Queries
        </li>
        <li>Package 
        </li>
        <li>Puppeteer</li>
      </ul> 
     
      <a href="https://github.com/cffhr99">cffhr99</a>
      <br>
    </div>
  </div>
</div>
{{!-- End of Card #3 --}}


{{!-- Card #4 - Gaye  --}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../public/images/gaye.png" alt="Gaye Proctor image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="../public/images/gaye.png" alt="Gaye Proctor image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Gaye Proctor</p>
        <p class="subtitle is-6">Quiz Question Developer</p>
      </div>
    </div>
    <div class="content">
      <ul>
        <li>Data Seeds</li>
        <li>About Us Content and Images</li>
        <li>Documentation</li>
        <li>Handlebars</li>
        <li>Presentation Slides</li>
      </ul> 

      <a href="https://github.com/gayebroni">gayebroni</a>
      <br>
    </div>
  </div>
</div>
{{!-- End of Card #4 --}
