<header>
    {{!-- title --}}
    <h1>Meet the QuizZAM Team!</h1>

</header>

<main>
    {{!-- insert columns with images (justice league image - replace with photos) --}}
    {{!-- JL IMAGE 1 - from left to right photos of Gaye, Baiyang, Emily, Shane --}}
    {{!-- JL IMAGE 3 - Shane, Emily, Baiyan, Gaye --}}
    {{!-- insert bio at the bottom of each photo as either separate columns or attached to photo columns:
    
    (left Column JL1 OR right JL3):
    Gaye Proctor
    -Input Data into Seeds Files
    -About Us
    -Documentation
    -Handlebars

    (middle column -left JL1 or middle colum JL3)
    Baiyang Qi
    -Debugger
    -Database Schema 
    -Sql Queries
    -Package 
    -Puppeteer

    (middle column - right JL1 OR middle left JL3)
    Emily Necciai Mayeski
    -Project 
    -Leader 
    -Routes 
    -Models 
    -Heroku
    -Documentation
    -Handlebars
    
    (right Column JL1 or left image JL3)
    Shane Chrisostomo
    -Front End Design
    -Materialize
    -Bulma 
    -UX 
    -Handlebars


    --}}
</main>