<div class="container">
  <div class="content is-large has-text-white m-3">About Us</div>
  <hr>


  <div class="columns is-centered">
    <div class="card column m-6">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../images/shane.png" alt="Shane Crisostomo image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Shane Crisostomo</p>
            <p class="subtitle is-6">'Front End Wizard'</p>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              Front End Design
            </li>
            <li>Bulma
            </li>
            <li>Materialize
            </li>
            <li>Handlebars
            </li>
            <li>UX</li>
          </ul>
          <a href="https://github.com/shaner3423">shaner3423</a>
          <br>
        </div>
      </div>
    </div>




    <div class="card column m-6">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../images/emily.jpeg" alt="Emily Necciai Mayeski image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Emily Necciai Mayeski</p>
            <p class="subtitle is-6">'Amazing Project Leader'</p>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>Project Leader
            </li>
            <li>Routes
            </li>
            <li>Models
            </li>
            <li>Handlebars
            </li>
            <li>Heroku</li>
            <li>Documentation</li>
          </ul>
          <a href="https://github.com/EmilyNecciai">EmilyNecciai</a>
          <br>
        </div>
      </div>
    </div>

  </div>


  <div class="columns is-centered">

    <div class="card column m-6">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../images/baiyang.png" alt="Baiyang Qi image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Baiyang Qi</p>
            <p class="subtitle is-6">'Master DeBugger'</p>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              Database Schema
            </li>
            <li>Debugger
            </li>
            <li>Sql Queries
            </li>
            <li>Package
            </li>
            <li>Puppeteer</li>
          </ul>

          <a href="https://github.com/cffhr99">cffhr99</a>
          <br>
        </div>
      </div>
    </div>



    <div class="card column m-6">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="../images/gaye.jpeg" alt="Gaye Proctor image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Gaye Proctor</p>
            <p class="subtitle is-6">Database Content Creator</p>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>Data Seeds</li>
            <li>About Us Content and Images</li>
            <li>Documentation</li>
            <li>Handlebars</li>
            <li>Presentation Slides</li>
          </ul>

          <a href="https://github.com/gayebroni">gayebroni</a>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>