<div class="container">
    <form id="add-question">
        <div class="row">

            <div class="box m-3">
                <div class="content is-large">
                    <h3>Add Question</h3>
                    <hr>
                </div>

                {{#if subjects.length}}
                <div class="">
                    <h4>Add Question to...</h4>
                    <div class="select">
                        <select class="dropdownMenu" id="subject-choice">
                            <option>Select Subject or Class</option>
                            {{#each subjects as |subject|}}
                            <option value={{subject.id}}>
                                {{subject.name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                {{/if}}

            </div>


            <div class="box m-3">
                <div class="question-header m-3">
                    <h5>Question:</h5>
                    <div class="control">
                        <input class="input" id="question-title" type="text" placeholder="Your question here.">
                    </div>
                </div>

                <div class="control m-6">
                    <h6>Choice A:</h6>
                    <div class="control">
                        <input type="text" id="Choice-A" class="input" placeholder="Write an answer option here.">
                    </div>
                </div>

                <div class="control m-6">
                    <h6>Choice B:</h6>
                    <div class="Control">
                        <input type="text" id="Choice-B" class="input" placeholder="Write an answer option here.">
                    </div>
                </div>

                <div class="control m-6">
                    <h6>Choice C:</h6>
                    <div class="control">
                        <input type="text" id="Choice-C" class="input" placeholder="Write an answer option here.">
                    </div>
                </div>

                <div class="control m-6">
                    <h6>Choice D:</h6>
                    <div class="control">
                        <input type="text" id="Choice-D" class="input" placeholder="Write an answer option here.">
                    </div>
                </div>

                <div class="m-3">
                    <h5>Correct Answer:</h5>
                    <div class="select">
                        <select class="dropdownMenu" id="Correct-Choice">
                            <option>Select the Correct Answer Choice.</option>
                            <option value="choiceA">A</option>
                            <option value="choiceB">B</option>
                            <option value="choiceC">C</option>
                            <option value="choiceD">D</option>
                        </select>
                    </div>

                </div>

            </div>


            <div class="nextQuestionButton">
                {{!-- <button id="reset-question" class="button questionBtn">Reset Question</button> --}}
                <button class="button questionBtn is-green has-text-white" id="add-question" type="submit">Submit Question</button>
                <button class="button questionBtn" href="/dashboard/questions">View Questions</button>
            </div>
            <div class="button-questions">

            </div>

        </div>
    </form>
</div>

<script src="/javascript/add-question.js"></script>