<div class="box m-6">     
        <h2 class="title pb-4">List: All Correct Answers</h2><hr>

{{#if questions.length}}
<div class="row">
    {{#each questions as |question|}}
     {{>answer-info question}}
    {{/each}}
</div>
{{/if}}
</div>