<div class="container">
  <div class="content is-large has-text-white m-3">Dashboard</div>
  <hr>

  <div class="buttons are-large">

    <button class="button is-danger is-light is-fullwidth m-1">
      <a href="/dashboard/addsubject" >Add Subject</a>
    </button>

    <button class="button is-danger is-light is-fullwidth m-1">
      <a href="/dashboard/addquestion" >Add Question</a>
    </button>

    <button class="button is-danger is-light is-fullwidth m-1">
      <a href="/dashboard/subjects" >View Subject</a>
    </button>

    <button class="button is-danger is-light is-fullwidth m-1">
      <a href="/dashboard/questions" >View Quiz Questions</a>
    </button>

    <button class="button is-danger is-light is-fullwidth m-1">
      <a href="/dashboard/answers">View Answer Key</a>
    </button>

    <button class="button is-danger is-light is-fullwidth m-1">
      <a href="/pdf/export-pdf" target="_blank">Quick Export PDF</a>
    </button>

  </div>
</div>