{{#if loggedIn}}

<h2 id="Welcome_page" class="pb-4 has-text-centered is-italic">Welecome to build your own quiz~</h2>
<h3 class="pb-4 has-text-centered is-italic">Please login with existed account or sign up.</h3>

<ul class="subject-list">
    {{#each subjects as |subject|}}
    <li>
        {{> subject-info subject }}
    </li>
    {{/each}}
</ul>

{{else}}
<h4>
    Welcome to Quizam! Click on any link to learn more or log in to get started.
</h4>
{{/if}}
