{{#if loggedIn}}

<ul class="subject-list">
    {{#each subjects as |subject|}}
    <li>
        {{> subject-info subject }}
    </li>
    {{/each}}
</ul>

{{else}}
<h4>
    Welcome to Quizam! Click on any link to learn more or log in to get started.
</h4>
{{/if}}