<div class="box">     
        <h2 class="title pb-4">Your Quiz</h2><hr>

{{#if questions.length}}
<div class="row">
    {{#each questions as |question|}}
     {{>question-info question}}
    {{/each}}
</div>
{{/if}}
</div>
<script src="/javascript/pdf.js"></script>