<div class="box m-6">
    <h2 class="title pb-4">Your Quiz</h2>
    <a class="button is-green" href="/pdf/export-pdf" target="_blank">Export PDF of Quiz</a>

    <hr>


    {{#if questions.length}}
    <div class="row">
        {{#each questions as |question|}}
        {{>question-info question}}
        {{/each}}
    </div>
    {{/if}}


</div>