<div class="container">

  <div class="box m-6">
    <form class="signup-form" id="signup-form">

      <div class="image-login">
        <img class="login-icon" src="../images/loginicon.png" class="img-fluid img-thumbnail rounded-circle"
          alt="cloud with lighthning bolt">
      </div>


      <div class="field">
        <label for="username-signup" class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input type="text" id="username-signup" class="input" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label for="email-signup" class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input type="text" id="email-signup" class="input" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label for="password-signup" class="label">Password</label>
        <div class="control has-icons-left has-icons-right">

          <input type="password" id="password-signup" class="input" />
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>

      <div class="control">
        <button type="submit" class="button is-green is-fullwidth has-text-white login-button">Sign Up</button>
      </div>

    </form>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/javascript/login.js"></script>