<div class="box m-6">     
        <h2 class="title pb-4">List: All Created Subjects</h2><hr>

{{#if subjects.length}}
<ul id="subject-list">
    {{#each subjects as |subject|}}
   <li>  {{>subject-info subject}}</li>
    {{/each}}
</ul>
{{/if}}
</div>
<script src="/javascript/delete-subject.js"></script>
