/* placeholder for site css. */
:root {
  --first: #f25f5c;
  --second: #ffe066;
  --third: #23b5d3;
  --fourth: #21a179;
  --fifth: #596475;
}

h1 {
  font-family: "Rampart One", cursive;
  width: 100%;
  text-align: center;
  background-color: var(--first);
  font-size: 180px;
}

/* nav {
  margin-top:40px;
} */

.navbar {
  background-color: var(--first);
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--first);
}

.logo {
  height: 150px;
  width: 150px;
}

.image-login {
  margin: auto;
  width: 60%;
}

.login-icon {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.login {
  align-items: center;
  padding: 50px;
  margin-bottom: 100px;
}

form {
  align-items: center;
}

.container {
  margin-top: 50px;
}

.dash-button {
  align-items: center;
  margin-bottom: 50px;
  margin-left: 30px;
}

.dashBtn1 {
  text-align: right;
}

.button-dash {
  height: 200px;
  width: 500px;
  
}

.login-button {
  margin-top: 20px;
}

.email-container {
  margin-bottom: 20px;
}

.loginBtn-container,
.signUp-button {
  text-align: center;
}

.login-button,
.signUp {
  width: 100%;
}

.is-yellow {
  background-color: var(--second);
}

h3 {
  margin-left: 30px;
  color: var(--fifth);
}

.footer {
 background-color: var(--second);
 width: 100%;
 padding-bottom: 3px;
 padding-top: 5px;
}
  
.button-questions {
  margin: 50px;
  text-align: center;
}

.nextQuestionButton {
  margin-top: 50px;
  text-align: center;
}

.questionBtn {
  margin: 0px 100px;
}

.dropdownMenu {
  width: 100%;
}

footer {
  background-color: var(--second);
  width: 100%;
  padding-bottom: 3px;
  padding-top: 5px;
}
