/* placeholder for site css. */
:root {
  --first: #f25f5c;
  --second: #ffe066;
  --third: #23b5d3;
  --fourth: #21a179;
  --fifth: #596475;
}

h1 {
  font-family: "Rampart One", cursive;
  width: 100%;
  text-align: center;
  background-color: var(--first);
  font-size: 180px ;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--first);
}


.logo {
  height: 150px;
  width: 150px;
}

.login-icon {
  width: 200px;
  height: 200px;
}

.login {
  align-items: center;
  padding: 50px;
}

form {
align-items: center;
}

.container {
  margin-top: 100px;
}

.btn {
  margin-bottom: 50px;
}

.submit {
  background-color: var(--fourth);
  color: white;
  margin-top: 20px;
}









